services:
  db:
    image: postgres:18.1
    shm_size: 128mb
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "5432:5432"

  app:
    build: .
    env_file: ".env"
    depends_on:
      - db
    ports:
      - "8000:8000"


volumes:
  postgres_data: